.menu-wrapper {
    padding: 8px 0px;
    margin: 0px;
    min-width: 223px;
    list-style: none;
    box-sizing: border-box;
}

.item-wrapper {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 8px;
    display: flex;
    height: 42px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.items {
    box-sizing: border-box;
    padding: 10px 16px;
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.item {
    padding-left: 6px;
}
.header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 50px;
}
.back-btn {
}
.header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.icon-back {
    margin-left: 28px;
    width: 20px;
    height: 20px;
}
